version: "2"

services:
  db:
    image: postgres
    volumes:
      - .:/app
      - db:/var/lib/postgresql/data
    expose:
      - '5432'

  heroku:
    build:
      context: .
      dockerfile: Dockerfile.heroku
    volumes:
      - .:/app
      - heroku:/root
    working_dir: /app

  web:
    build: .
    volumes:
      - .:/app
      - bundle_path:/bundle
    environment:
      - BUNDLE_PATH=/bundle/vendor
      - BUNDLE_APP_CONFIG=/app/.bundle
    user: ruby
    working_dir: /app
    command: bundle exec puma -C config/puma.rb
    ports:
      - "3000:3000"
    links:
      - db

volumes:
  bundle_path:
  db:
  heroku:
