<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Organize2 - <%= @title %></title>
    <meta name="description" content="<%= @description %>">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
